@import "tailwindcss";
@plugin "daisyui";

/* @plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake;
 } */

@plugin "daisyui" {
  themes: all;
}

.input-password::-ms-reveal {
  display: none;
}
